:root {
    --color-negro: #15181d;
    --color-gris: #818183;
    --color-cian: rgb(0, 199, 206);
    --color-azul: #040b13;
}

.categories {
    background-color: var(--color-negro);
    height: 31vh;
    align-items: center;
    padding-top: 72px;
    color: white;
    display: flex;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}
.categories-child {
    margin: 0 auto;
    display: flex;
}