:root {
    --color-negro: #15181d;
    --color-gris: #818183;
    --color-cian: #00aad9;
    --color-azul: #040b13;
}

.ct-card {
    color: white;
    width: 10rem;
    height: 8.5rem;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}
.ct-card svg {
    width: 1.4rem;
    height: 1.3rem;
}
.ct-card:hover {
    background-color: #000000;
    border-top: 2px solid var(--color-cian);
}